.card {
 color: white;
 background: #231e1e ;
}

.answer-card {
 background: white;
 color: black;
 width: 100%;
 margin-bottom: 10px;
}

h1 {
 font-weight: bold;
 letter-spacing: -2px;
 max-width: 100px;
}
h1:after, .card h6:after,
.answer-card h6:after {
 content: "™";
 font-size: 1rem;
 vertical-align: super;
 margin-left: 0.192rem;
}

.card,
.answer-card {
 border: 1px solid black;
 border-radius: 15px;
 padding: 1rem;
 min-height: 16rem;
 position: relative;
}


/*test*/

.red {
    border: 1px solid red;
    background-color: white !important;
}

.black {
    border: 1px solid black !important;
    background-color: white !important;
}